@{
    ViewBag.Title = "Home Page";
}

<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-md-6 banner-left" style="padding-right: 10em;">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">Clip & Fluff</h1>
                @*<p class="text-white">
                    If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                </p>*@
                @*<a href="#" class="primary-btn text-uppercase">Get Started</a>*@
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start popular-destination Area -->
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">About Clip & Fluff</h1>
                    <h5>At Clip & Fluff, we believe that every pet should be pampered. I have an Alaskan Malamute and it was always a pain to find a affordable groomer and straight forward pricing online. That is why I opened up Clip & Fluff.We offer affordable grooming packages for all types of animals. We have straight forward pricing on our website. The price you see on the packages is the price that you will pay. Everyone at Clip & Fluff treats your fur baby as their own and are highly trained in grooming. We cannot wait to have your fur baby join our family!! </h5>
                    <h5>Below are some of our happy customers!!</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="~/Content/img/Home/puppy2.jpg" alt="" />
                        <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                            They treated my baby like their own. I like their straight forward pricing!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="~/Content/img/Home/cat.jpg" alt="" />
                        <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                            I know your not supposed to groom cats very often but I love treating my baby to one every now and then. Clip & Fluff has experienced cat groomers that know what they are doing. LOVE THEM!!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="~/Content/img/Home/puppy6.jpg" alt="" />
                        <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                            This is my baby!! He is my first puppy as an adult so I needed the groomer be friendly, knowledgeable and treat my baby like their own. That is exactly what I found at Clip & Fluff.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <img class="img-fluid" src="~/Content/img/Home/puppy7.jpg" alt="" />
                    <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                        My Bruno loves going to the groomers. Everyone at Clip & Fluff are always excited to see their four-legged customers and their owners. They not only are great with the animals but they have fantastic customer service.
                    </h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <img class="img-fluid" src="~/Content/img/Home/cat4.jpg" alt="" />
                    <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                        This is the place to get your cat groomed. They are so professional and their store is very clean. Plus the prices are reasonable and your can make a reservation online to any of their locations.
                    </h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <img class="img-fluid" src="~/Content/img/Home/puppy5.jpg" alt="" />
                    <h4 style="border-bottom: 1px solid #00a5b8; padding-bottom:20px;">
                        If you have a double coated dog, this is the place to go!! They know how to handle dogs that have long, thick, double coats. My big fur baby loves going to the groomers. I could not have picked a better place to take my baby.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End popular-destination Area -->
<!-- Start price Area -->

