
@{
    ViewBag.Title = "Packages";
}


<section id="packagespage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>
<div class="text-center" style="padding-top:2em;">
    <h4 style="color:#00a5b8">We have the right to refuse an animal for any reason.</h4>
    <h4 style="color:#00a5b8">All animals MUST be current on shots. New clients please bring a copy of shot records!</h4>
    <h4 style="color:#00a5b8">Prices do not include taxes.</h4>
    <h4 style="color:#00a5b8">To make a reservation, please register a new account and create a pet profile.</h4>
</div>
<section>
    <br />
    <div id="packages" class="container" style="border:solid #00a5b8 4px;width:60%;margin:auto;padding-top:1em;">
        <div class="text-center"><h5>Packages for small to medium dogs (5lbs - 50lbs)</h5> <br /></div>
        <div class="row">

            <div class="row" style="color:black">
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package A---$15</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package B---$35</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package C---$45</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                                <li>Nail Trim</li>
                                <li>Scented Spray</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</section>
<section>
    <br />
    <div id="packages" class="container" style="border:solid #00a5b8 4px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="text-center"><h5>Packages for large dogs (51lbs - 80lbs)</h5> <br /></div>
        <div class="row">

            <div class="row"  style="color:black;">
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package D---$25</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package E---$45</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package F---$55</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                                <li>Nail Trim</li>
                                <li>Scented Spray</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</section>
<section>
    <br />
    <div id="packages" class="container" style="border:solid #00a5b8 4px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="text-center"><h5>Packages for X-Large dogs (81bs and more)</h5> <br /></div>
        <div class="row">

            <div class="row"  style="color:black;">
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package G---$35</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package H---$55</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package I---$65</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                                <li>Haircut(Breed specicif standard)</li>
                                <li>Nail Trim</li>
                                <li>Scented Spray</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</section>
<section>
    <br />
    <div id="packages" class="container" style="border:solid #00a5b8 4px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="text-center"><h5>Packages for Cats/Addtinal Add-Ons</h5> <br /></div>
        <div class="row">

            <div class="row"  style="color:black; font-size:medium;">
                <div class="col-lg-4">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Package J---$15</h6>
                            <ul>
                                <li>Shampoo</li>
                                <li>Conditioner</li>
                                <li>Blow Dry</li>
                                <li>Gland Epression</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="single-destination relative">
                        <div class="thumb relative">
                            <h6>Additonal Add-Ons</h6>
                            <ul>
                                <li>Nail Trim(Packages without this included)--$10</li>
                                <li>Brush(Recommended for medium to long and double coats)---$15</li>
                                <li>Blowout(Recommended for double coats)---$20</li>
                                <li>Muzzle---$10</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</section>
